*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #faebd7;
    background: url("../hero-dev-portfolio-resources/images/icons/developer.png"),url("../hero-dev-portfolio-resources/images/header_bg.png"),#faebd7;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: left top,right bottom;

}

font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  padding-top: 50px;

}
.logo h2{
    font-size: 45px;
}
nav{
    margin: 0px auto;
    width: 71%;
    max-width: 1140px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
   
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
nav .menu li {
    display: flex;      /* Keep each menu item inline */
    align-items: center;
}
nav .word{
    color: orange;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#banner{
    margin: 47px 38px 230px 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 50 px;
    font-weight: 600px;
    color: #474747;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 40px;
    color: #757575;
    margin-bottom: 30px;
}
#banner .image-banner{
    max-width: 585px;
    vertical-align: middle;
}

#about #skill #resume{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fffaf3;
    padding: 131px 157px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-info .info-card h4{
    font-size: 20px;
}


#skill .skill-container {
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
}
.skill-container p{
    font-size: 18px;
    line-height: 30px;
}
#skill .skill-container .skill-box{
    display: flex;
    justify-content: space-between;
    gap: 18px;
}
.skill-box .skill-card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #0000271c;
    width: 267px;

}
.skill-card img{
    width: 44px;
    margin-bottom: 30px;

}

.skill-card h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 130px auto;
    display: flex;
    gap: 24px;
}
.resume-container .resume-title{
    color: #474747;
}
.resume-card{
    width: 511px;
    margin-right: 47px;
}
.resume-title h2{
    margin-bottom: 20px;
}
.card-title{
    margin-bottom: 20px;
}
.resume-container hr{
    margin: 30px 0;
}
.text-center{
    text-align: center;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
 
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}